spring:
  config:
    import:
      - classpath:application/core.yaml
      - classpath:application/persistence.yaml
      - classpath:application/task.yaml
      - classpath:application/ai.yaml
      - classpath:application/search.yaml
      - classpath:application/confluence.yaml
      - classpath:application/email.yaml
      - classpath:application/management.yaml
      - classpath:application/resilience.yaml
